#output_screen{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: right;
    height: 20px;
    max-width: 112px;
    background-color: rgba(219, 219, 219, 0.4);
    padding: 2px;
    margin: 0;
    margin-bottom: 5px;
}

#button_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    max-width:112px;
}

.calc_button{
    border: none;
    border-radius: 5px;
    height: 20px;
    font-size: 8px;
}